@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&family=Noto+Sans:ital,wght@0,400;0,900;1,900&display=swap");
* {
  font-family: "Noto Sans", "Noto Sans KR", sans-serif;
}
header {
  height: 150px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background-color: #252627;
}
.site-name {
  font-family: "Noto Sans", "Noto Sans KR", sans-serif;
  height: 100px;
  color: #bb0a21;
  text-align: center;
  font-size: 50px;
  margin: 20px 0;
  cursor: pointer;
  font-weight: 900;
}
.search {
  padding: 10px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  background-color: #fff;
  border: 2px solid #bb0a21;
  border-radius: 30px;
  transition: 0.4s;
  width: 30px;
}
.search:hover {
  box-shadow: 0px 0px 0.5px 2px #bb0a21;
  width: 400px;
}
.search-img {
  text-decoration: none;
  float: right;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-btn {
  text-decoration: none;
  float: right;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bb0a21;
}
.search:hover > .search-btn {
  background-color: #fff;
}
.search-txt {
  display: flex;
  padding: 0;
  width: 0px;
  border: none;
  background: none;
  outline: none;
  float: left;
  font-size: 1rem;
  line-height: 30px;
  transition: 0.4s;
}
.search:hover > .search-txt {
  width: 240px;
  padding: 0 6px;
}
.wrapper {
  padding-bottom: 30px;
}

.divider {
  position: relative;
  margin-top: 30px;
  height: 1px;
}

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, #bb0a21, transparent);
}

li {
  list-style: none;
}

body {
  background-color: #252627;
  color: #fff;
}

main {
  width: 1400px;
  margin: auto;
  padding-top: 200px;
}

main > h1 {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 700;
}

main > div {
  margin-bottom: 50px;
}
/* 무비 컨테이너 */
#movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card_bx {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 0.1px solid #bb0a21;
  border-radius: 5px;
  margin: 20px;
  padding: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #2d2e2e;
}

/* 컨테이너 안의 아이템뭉치들 */
.movie-card {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* background-color: firebrick; */
  width: 250px;
  height: 90%;
  margin: 10px;
  position: relative;
  /* overflow: hidden; */
  cursor: pointer;
}

/* 마진줘서 이미지랑 글씨 떨어트리기 */
.movie-card img {
  width: 100%;
  height: auto;
  margin: 0px;
  border-style: solid;
  border-radius: 5px;
  display: block;
  transition: filter 0.5s ease;
}

.movie-card ul {
  text-align: center;
  width: 100%;
  padding: 5%;
  list-style: none;
  padding: 0;
  text-align: center;
}

/* child(숫자)나 first-child를 사용하면 특정 요소한테만 줄 수 있음! */
.movie-card ul li:first-child {
  font-weight: bold;
  font-size: large;
  margin-bottom: 5px;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 2;
  max-width: 100%; /* 텍스트의 최대 너비를 설정 */

  text-overflow: ellipsis; /* 텍스트가 너무 길 경우 생략 부호(...)로 표시 */
}

.overlay-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
  transition: background-color 0.5s ease;
}

.movie-card:hover img {
  filter: blur(3px);
}

.movie-card:hover .overlay {
  opacity: 1;
}

.movie-card:hover .overlay-bg {
  background-color: rgba(0, 0, 0, 0.5);
}

.show-more {
  cursor: pointer;
  color: aqua;
}

.hidden {
  display: none;
  margin-bottom: 20px;
}
